<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bossBurger Website</title>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <%- include('./partials/navbar.ejs') %>
      <div class="home-section" id="home">
        <div class="hero-main">
          <div class="hero-text-container">
            <h1><span>boss</span> Burger</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button>Order Now!</button>
          </div>
          <div class="hero-image-container">
            <img
              src="/static/assets/images/home-hero-img.png"
              alt="home burger"
            />
          </div>
        </div>
      </div>
      <div class="products-section" id="products">
        <h2>START YOUR <span>ORDER TODAY</span></h2>
        <div class="products-list">
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>Classic <span>Burger</span></p>
                <p>PHP 45.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-classic-burger.png"
                  alt="product classic burger"
                />
              </div>
              <p>Classic <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 45.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
          </div>
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>Classic <span>Burger</span></p>
                <p>PHP 45.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-classic-burger.png"
                  alt="product classic burger"
                />
              </div>
              <p>Classic <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 45.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
          </div>
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>BBQ <span>Burger</span></p>
                <p>PHP 60.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-bbq-burger.png"
                  alt="product bbq burger"
                />
              </div>
              <p>BBQ <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 60.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
          </div>
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>Crispy <span>Burger</span></p>
                <p>PHP 50.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-crispy-burger.png"
                  alt="product crispy burger"
                />
              </div>
              <p>Crispy <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 50.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
          </div>
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>Flame Grilled <span>Burger</span></p>
                <p>PHP 60.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-flame-grilled-burger.png"
                  alt="product flame grilled burger"
                />
              </div>
              <p>Flame Grilled <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 60.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
          </div>
          <div class="product">
            <div class="hover-details">
              <div class="price-container">
                <p>Grilled <span>Burger</span></p>
                <p>PHP 40.00</p>
              </div>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product cart icon"
                />
              </div>
            </div>
            <div class="burger-container">
              <div class="image-container">
                <img
                  src="/static/assets/images/products-grilled-burger.png"
                  alt="product flame grilled burger"
                />
              </div>
              <p>Grilled <span>Burger</span></p>
            </div>
            <div class="price-container">
              <p>PHP 40.00</p>
              <div class="image-container">
                <img
                  src="/static/assets/images/products-cart-icon.png"
                  alt="product grilled icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts-section" id="contacts">
        <div class="image-container">
          <img
            src="/static/assets/images/contacts-bacon-burger.png"
            alt="contacts bacon burger"
          />
        </div>
        <div class="form-container">
          <form class="form-wrapper">
            <h1><span>Leave</span> us a message</h1>
            <input type="text" placeholder="First Name" />
            <input type="text" placeholder="Last Name" />
            <input type="text" placeholder="Phone" />
            <input type="email" placeholder="Email" />
            <textarea placeholder="Message"></textarea>
            <button>SEND</button>
          </form>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
    </div>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
</html>
