<div class="footer-section">
  <div class="content">
    <div class="about-wrapper">
      <h2>ABOUT</h2>
      <a href="#">FAQs</a>
      <a href="#">Terms & Conditions</a>
    </div>
    <div class="logo-wrapper">
      <div class="image-container">
        <img src="/static/assets/images/home-logo.png" alt="footer logo" />
      </div>
      <a href="#">www.bossBurger.com</a>
    </div>
    <div class="contacts-wrapper">
      <div class="content">
        <h2>CONTACTS</h2>
        <p>(+63) 9123456789</p>
        <div class="icon-wrapper">
          <div class="icon-container">
            <img src="/static/assets/images/footer-fb-icon.png" alt="fb logo" />
          </div>
          <div class="icon-container">
            <img
              src="/static/assets/images/footer-youtube-icon.png"
              alt="youtube logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <p class="copyright">© 2020 bossROD's Programming PH</p>
  </div>
</div>
