<div class="nav-main">
  <div class="logo-container">
    <img src="/static/assets/images/home-logo.png" alt="home logo" />
  </div>
  <div class="hamburger-container" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul class="menu-container" id="menus">
    <li><a href="#home">Home</a></li>
    <li><a href="#products">Products</a></li>
    <li><a href="#contacts">Contacts</a></li>
    <li><span></span></li>
    <li>
      <a href="#"
        ><img
          src="/static/assets/images/home-cart-icon.png"
          alt="home cart icon"
      /></a>
    </li>
    <li>
      <a href="#"
        ><img
          src="/static/assets/images/home-admin-icon.png"
          alt="home user icon"
      /></a>
    </li>
  </ul>
</div>
